html,
body {
  margin: 0;
  padding: 0;
  min-height: 5000px;
}

canvas {
  display: block;
  position: fixed;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}